.infoWrap{
    background-color: rgb(245, 180, 180);
    padding: 212px;
}
.a,.b,.c{
    background-color:  #d5275b;
    justify-content: space-around;
    font-size: large;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.h{
    background-color: #d5275b;
    justify-content: center;
    font-size: xx-large;
    margin-left: 420px;
}